
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserHome</h2>
<div>
    @Html.ActionLink("View all job openings","Jobview_Pageload","ViewJob")
</div><div>
    @Html.ActionLink("Search for a job","Search_index","Search")
</div>

